<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda sua Consulta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cabecario.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/marcar_consulta.css') }}">
</head>

<body>
    <!--------------------------------Cabecario---------------------------------------------->

    <header id="cabecario">
        <img src="{{ url_for('static', filename='imagem/logo.png') }}" id="logo" alt="Logo do Hospital">

        <div id="login">
            <div id="perfil-usuario">
                <img src="https://cdn-icons-png.flaticon.com/512/1946/1946429.png" alt="Ícone do perfil">
                <div id="oculto"></div>
                <div class="links">
                    <a href="{{ url_for('login') }}" id="login-entra">Entrar</a> /
                    <a href="{{ url_for('cadastro') }}">Cadastrar-se</a>
                </div>
                <ul class="submenu">
                    <li><a href="h-confirmacao.html?origem=modificaPagina" onclick="mudificaPagina()">Consultas marcadas</a></li>
                    <li><a href="{{ url_for('altera_cadastro') }}">Alterar Cadastro</a></li>
                    <li><a href="#">Sair</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div id="texto">
        <h1>Especialista do Hospital</h1>
    </div>

    <!----------------------------Agenda data Consulta------------------------------------------->
    <div id="caixa-perfil">
        <div id="perfil">
            <div id="centro-perfil">
                <img id="foto-perfil" src="https://cdn-icons-png.flaticon.com/512/4532/4532517.png"
                    alt="Foto do médico">
                <div>
                    <h2 id="nome-medico"></h2>
                    <p id="esp-medico"></p>
                    <p id="crm-medico"></p>
                </div>
            </div>
            <p id="texto-medico"></p>
            <p id="end-Medico"></p>
        </div>

        <div id="agenda">
            <h2>Agenda de Datas</h2>
            <div class="calendario">
                <div class="calendario-header" id="mes-ano">Carregando...</div>
                <table>
                    <thead>
                        <tr>
                            <th>
                                <div></div>
                            </th>
                            <th>
                                <div></div>
                            </th>
                            <th>
                                <div></div>
                            </th>
                            <th>
                                <div></div>
                            </th>
                            <th>
                                <div></div>
                            </th>
                            <th>
                                <div></div>
                            </th>
                            <th>
                                <div></div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script/marcar_consulta.js') }}"></script>
    <script src="{{ url_for('static', filename='script/cookies.js') }}"></script>

</body>

</html>