#nome-hospital{
    display: flex;
    margin: 0px;
    justify-content: center;
    margin-top: -15px;
}
#caixa-perfil {
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 20px;
}

#perfil,
#agenda {
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#perfil {
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
    width: 500px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

#centro-perfil {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
    line-height: 1.0;
}

#foto-perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

#agenda {
    width: 600px;
    text-align: center;
}

#agenda h2 {
    margin: 0;
    margin-bottom: 10px;
}

.calendario {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.calendario-header {
    background-color:#2b2bff;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 1.1em;
}

table {
    width: 100%;          
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    border-bottom: none; 
    padding: 10px;
    text-align: center;
    vertical-align: top;
    width: 1.28%;        
}

.dia {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2b2bff;
}

.horarios {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.horarios button {
    background-color: #2b2bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 0;
    cursor: pointer;
    font-size: 0.85em;
    transition: background-color 0.3s ease;
}

.horarios button:hover {
    background-color: rgb(43, 43, 255);
}

.horarios button.passado {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    opacity: 0.6;
}
#perfil p:last-child {
    margin-top: 50px; 
    margin: 0; 
}