.caixa-confirmacao {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    gap: 20px; 
    flex-wrap: wrap;
    padding: 40px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    width: 85%;
    max-width: 1200px;
    margin: 30px auto;
    font-family: "Segoe UI", Arial, sans-serif;
}

#esq, #cen, #dir {
    flex: 1;
    min-width: 300px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#lado{
    display: flex;
    gap: 10px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    color: #7d7d7d;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    color: #555555;
    margin-bottom: 5px;
}

h3 {
    color: #2b2bff;
    margin: 20px 0 10px 0;
}

#botao, #botao-confirmar {
    width: 250px;
    padding: 15px;
    border-radius: 8px;
    border: none;
    background-color: #2b2bff;
    font-size: 18px;
    color: #fff;
    font-weight: bold; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
}
#botao-cancelar{
    width: 250px;
    padding: 15px;
    border-radius: 8px;
    border: none;
    background-color: #ff3939;
    font-size: 18px;
    color: #fff;
    font-weight: bold; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
}

#botao:hover, #botao-confirmar:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
}

#div-botao {
    margin-top: 10px;   
    width: 100%;  
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 40px;
}
